---
- name: Hamachi login
  command: >
    hamachi login
  ignore_errors: true
  register: hamachi_log_response
  changed_when: "'Already logged in' not in hamachi_log_response.stdout"

- name: Set hamachi nickname
  command: >
    hamachi set-nick cacahueteserver
  ignore_errors: true
  changed_when: false

# Pending check before if the server is already joined to the network
- name: Join to hamachi network
  command: >
    hamachi join {{ hamachi_network_id }} {{ hamachi_network_pass }}
  ignore_errors: true
  register: hamachi_join_response
  changed_when: "'you are already a member' not in hamachi_join_response.stdout"

- name: Get hamachi my ip address from hamachi network
  shell: ip addr show ham0 | grep -i inet | grep -i ham0 | awk '{print $2}' | cut -f1 -d/
  register: hamachi_ip_address
  changed_when: false