backup:
  scope: {{ google_drive_backup_scope }}
  backups_file_path: "{{ minecraft_backups_dir }}/*.tar.gz"
  google_drive_backup_folder_id: {{ google_drive_backup_folder_id }}
  backup_files_mime_type: application/x-tar
  max_backups_uploaded: {{ google_drive_backup_max_uploaded }}